<!DOCTYPE html>
<html>
<head> 
    <title>Show.ejs</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/modules.css">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/layout.css">
</head>

<body>

    
    
    <h1>This is a test of show.ejs</h1>
    <br>
    <form method="post" action="/searches">
        <div>
            <input name="title" placeholder="Book Title"></input>
        </div>
        <div>
            <input name="author" placeholder="Book Author"></input>
        </div>
        <div><button type="submit">Search</button>
    
        </div>
    </form>
    <h2>Search Query: 
    </h2>


<h2>Results:</h2>
<br>
<br>
<h1>"We're Sorry! We could not find any books by that name or author!</h1>
 

</div>

</body>
</html>