<!DOCTYPE html>
<html>
<head> <title>BookApp</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/modules.css">
</head>

<body>
    <div class="flex-grid">
      <div>
        <header class="header-container">
          <h1 class="h1">Best Boooks</h1>
        </header>
      </div>
         <div>
           <button type="submit" onClick="location.href='/searches/new'">Find a book</button>
         </div>
    </div>
  </body>
</html>